<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">WELCOME TO MK_VMS</h1>
        This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Up Coming Events</h2>
            <!-- <img class="card-img-top" src="../../assets/images/mk_logo2.jpg" alt="Card image cap"> -->

            <h4 class="card-title">Card title</h4>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                <a class="btn btn-secondary" href="#" role="button">View details »</a>

        </div>
        <div class="col-md-4">
            <h2>Completed Projects</h2>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

            <div class="card">
            </div>

            <a class="btn btn-secondary" href="#" role="button">View details »</a>
        </div>
        <div class="col-md-4">
            <h2>Mahibere Kidusan</h2>

            <div class="card">
                <img class="card-img-top" src="../../assets/images/mk_logo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                </div>
            </div>

            <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
        </div>
    </div>
    <hr>
    <footer>
        © Company 2017
    </footer>
</div>